.available-devices {
    padding: 5.6vw;
    text-align: center;

    &__list {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        @media(max-width: 767px){
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            h4 {
                margin-top: 20px;
                margin-bottom: 24px;
            }

            img {
                max-width: 100%;
            }
        }
    }
}